* text=auto !eol
/apertium-quz-spa.quz.lexc -text
/apertium-quz-spa.quz.twol -text
/apertium-quz-spa.spa.dix -text svneol=unset#application/xml
dev/apertium-quz-spa.quz.lexc-OLD -text
dev/cuento.quz.txt -text
