* text=auto !eol
/Makefile -text
/apertium-quz-spa.post-spa.dix -text
/apertium-quz-spa.quz-spa.dix -text
/apertium-quz-spa.quz-spa.lrx -text
/apertium-quz-spa.quz-spa.rlx -text
/apertium-quz-spa.quz-spa.t1x -text
/apertium-quz-spa.quz-spa.t2x -text
/apertium-quz-spa.quz-spa.t3x -text
/apertium-quz-spa.quz.lexc -text
/apertium-quz-spa.quz.twol -text
/apertium-quz-spa.spa-quz.lrx -text
/apertium-quz-spa.spa.dix -text svneol=unset#application/xml
dev/apertium-quz-spa.quz.lexc-OLD -text
dev/cuento.quz-var.txt -text
dev/cuento.quz.txt -text
dev/inconsistency.sh -text
dev/udhr.quz-original.txt -text
dev/udhr.quz.txt -text
/modes.xml -text
